<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/642cc3dc-483a-462c-b29e-72708fca4236/resourceGroups/GrSqlDatabaseTest/providers/Microsoft.ApiManagement/service/TestSoftapi/apis/TestSoft</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/642cc3dc-483a-462c-b29e-72708fca4236/resourceGroups/GrSqlDatabaseTest/providers/Microsoft.Web/sites/TestSoft</ResourceId>
    <ResourceGroup>GrSqlDatabaseTest</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://testsoft.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d79df791-6b36-4c9a-8274-b41172f42a4d</ProjectGuid>
    <PublishUrl>https://testsoft.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TestSoft</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>